<table>
    <tr>
        {% for head in heads %}
            {% for value, type in head %}
                <td style="font-weight: bold;">{{ value|capitalize }}</td>
            {% endfor %}
        {% endfor %}
    </tr>
    {% for value in data %}
        <tr>
            {% for index in range('a', limit|lower) %}
                {% set type = "" %}
                {% for value, t in heads[array_search(index, range('a','z'))] %}
                    {% set type = t %}
                {% endfor %}
                <td style="{{ type == 'text' ? 'text-align: left' : (type == 'date' or type == 'phone_number' ? 'text-align: right' : '') }}">
                    {% if type == 'phone_number' %}
                        {{ value[index]|replace({"+": "+ "})|raw }}
                    {% else %}
                        {{ value[index]|raw }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>