<html>
<style>
    @page {
        margin: 20x;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
<div>
    <div>
        <div style="text-align: center;">
            <h1 style="font-size: 30px;">Détail getouts</h1>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <table style="width: 100%;">
            <thead style="font-size: 11px; font-weight: bold;">
            <tr>
                <th scope="col" style="text-align: left;">NUMERO DU CONTENEUR</th>
                <th scope="col" style="text-align: left;">TYPE DU CONTENEUR</th>
                <th scope="col" style="text-align: left;">STATUT DU CONTENEUR</th>
                <th scope="col" style="text-align: left;">CONTENEUR APTE</th>
                <th scope="col" style="text-align: left;">CONTENEUR RESERVEE</th>
                <th scope="col" style="text-align: left;">DATE DE SORTIE DE RESERVATION</th>
                <th scope="col" style="text-align: left;">CONTENEUR SORTIE</th>
                <th scope="col" style="text-align: left;">NOM DU TRANSPORTEUR</th>
                <th scope="col" style="text-align: left;">NUMÉRO DU CAMION</th>
                <th scope="col" style="text-align: left;">NUMERO DE PERMIS</th>
                <th scope="col" style="text-align: left;">CIN CHAUFFEUR</th>
                <th scope="col" style="text-align: left;">BON DE LIVRAISON</th>
                <th scope="col" style="text-align: left;">FACTURE</th>
            </tr>
            </thead>
            <tbody style="font-size: 11px; text-align: left;">
                {% for container in getout.containers %}
                    <tr>
                        <td>{{ container.containerNumber }}</td>
                        <td>{{ container.typeContainer }} pieds</td>
                        <td>{{ container.containerStatus }}</td>
                        <td>
                            {% if (container.containerStatusAble is null) or (container.containerStatusAble == false) %}
                                Non Apte
                            {% else %}
                                Apte
                            {% endif %}
                        </td>
                        <td>
                            {% if (container.reservedStatus is null) or (container.reservedStatus == false) %}
                                Non Réservée
                            {% else %}
                                Réservée
                            {% endif %}
                        </td>
                        <td>{{ container.dateToGetOut is null ? '' :  container.dateToGetOut|date("Y-m-d") }}</td>
                        <td>
                            {% if (container.isGetOut is null) or (container.isGetOut == false) %}
                                Non Sortie
                            {% else %}
                                Sortie
                            {% endif %}
                        </td>
                        <td>{{ getout.carrier is null ? '' : getout.carrier.name}}</td>
                        <td>{{ getout.truckNumber }}</td>
                        <td>{{ getout.driverLicenseNumber }}</td>
                        <td>{{ getout.nationalIDdriver }}</td>
                        <td>
                            {% if (getout.isDeliveryNoteSend is null) or (getout.isDeliveryNoteSend == false) %}
                                Bon de livraison
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            {% if (getout.isInvoiceSend is null) or (getout.isInvoiceSend == false) %}
                                Facture
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>