{{ include("pdf/parts/pdf_head.html.twig") }}

<style>
    tr:nth-child(even){
        background-color: transparent;
    }
    {# td{
        text-align: left;
    } #}
   
</style>

<table width="100%" style="line-height: 1;">
    <tr>
        <td style="text-align: center;">
            <h1 style="margin:0;font-size:20pt;">BON DE LIVRAISON</h1>
        </td>
    </tr>
</table>

<table width="100%" style="line-height: 2;">
    <tr>
        <td style="text-align: left !important; vertical-align:top;">
            {# Client final : {{ getout.customer.customerIdentification.customerTitle }} #}
            <strong>Client final</strong><br>
            {{ getout.customer.customerIdentification.customerTitle }}<br>
            Num reservation : {{ getout.containers[0].booking.refBooking }}<br><br>
            <strong>Transporteur</strong><br>
            Nom : {{ getout.carrier.name }}<br>
            Num Permis : {{ getout.driverLicenseNumber }}<br>
            Num Camion : {{ getout.truckNumber }}
        </td>
        
        <td style="text-align: right !important; vertical-align:top;">
            Date : {{ getout.createdAt | date("d/m/Y") }}<br>
            Num BL :  <strong>BL-{{ getout.refGetOut }}</strong><br>
            Parc container : {{ getout.containers[0].terminalGetin.terminal.name }}
        </td>
    </tr>
</table>


<table width="100%" style="line-height: 2;text-align:left;">
    <tr>
        <td style="text-align:left;">
            <strong>Conteneurs</strong>
        </td>
    </tr>
</table>

<table width="100%" style="line-height: 2;text-align:center;">
    <tr style="background-color: #f5f5f5;">
        <td>
            Numéro conteneur
        </td>
        <td>
            Type conteneur
        </td>
        <td>
            Compagnie maritime
        </td>
    </tr>
    {% for cont in getout.containers %}
        <tr>
            <td>
                {{ cont.containerNumber }}
            </td>
            <td>
                {{ cont.containerType.label }}
            </td>
            <td>
                {{ cont.terminalGetin.shippingCompany.name }}
            </td>
        </tr>
    {% endfor %}
</table>
    