{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des utilisateurs
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
       </tr>

       {% for one in users %}
            <tr>
                <td>{{ one.firstname }}</td>
                <td>{{ one.lastname }}</td>
                <td>{{ one.email}}</td>
            </tr>
       {% endfor %}

    </table>
</div>
