{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des modèles de véhicules
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Marque</th>
            <th>Modèle</th>
       </tr>

       {% for one in models %}
            <tr>
                <td>{{ one.vehicleBrand.name }}</td>
                <td>{{ one.name }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
