{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des sous-traitants
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Nom de la société</th>
            <th>Nom du contact</th>
            <th>Type sous-traitant</th>
            <th>Téléphone</th>
            <th>Email</th>
       </tr>

       {% for one in subContractors %}
            <tr>
                <td>{{one.companyName}}</td>
                <td>{{one.contactName}}</td>
                <td>{{one.subContractorType.name}}</td>
                <td>{{one.contactNumber}}</td>
                <td>{{one.email}}</td>
            </tr>
       {% endfor %}

    </table>
</div>
