{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des personnels
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénoms</th>
            <th>Poste</th>
            <th>Téléphone</th>
            <th>Adresse</th>
       </tr>

       {% for one in staff %}
            <tr>
                <td>{{ one.registrationNumber }}</td>
                <td>{{ one.lastName }}</td>
                <td>{{ one.firstName }}</td>
                <td>{{ one.staffPost.name }}</td>
                <td>{{ one.phoneNumber }}</td>
                <td>{{ one.address }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
