{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des centres
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Nom du centre</th>
       </tr>

       {% for one in centers %}
            <tr>
                <td>{{ one.name }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
