{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des terminaux
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Centre</th>
            <th>Terminal</th>
            <th>Occupations</th>
            <th>Occupations(%)</th>
       </tr>

       {% for one in terminals %}
            <tr>
                <td>{{ one.center.name }}</td>
                <td>{{ one.name }}</td>
                <td>{{ one.occupiedPlaces }}/{{ one.capacity }}</td>
                <td>{{ one.occupiedPlacesRate | number_format(2, ".", "") }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
