{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des types de fournisseurs
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Type</th>
       </tr>

       {% for one in provTypes %}
            <tr>
                <td>{{ one.name }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
