{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des véhicules
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Immatriculation</th>
            <th>Marque</th>
            <th>Charge utile</th>
            <th>Disponibilité</th>
            <th>Type</th>
       </tr>

       {% for one in vehicles %}
            <tr>
                <td>{{ one.registrationNumber }}</td>
                <td>
                    {% if one.vehicleBrand is not null %}
                        {{one.vehicleBrand.name}}
                    {% endif %}
                </td>
                <td>{{ one.payload }}</td>
                <td>
                    
                    {% if one.state == 0 %}
                        En cours route
                    {% elseif one.state == 1 %}
                        Disponible
                    {% elseif one.state == 2 %}
                        Pas de chauffeur
                    {% elseif one.state == 3 %}
                        En maintenance
                    {% elseif one.state == 4 %}
                        A vendre
                    {% elseif one.state == 5 %}
                        En congé
                    {% elseif one.state == 6 %}
                        Accidenté
                    {% elseif one.state == 7 %}
                        Assigné à une autre société
                    {% elseif one.state == 8 %}
                        En attente de tracteur
                    {% elseif one.state == 9 %}
                        En panne
                    {% elseif one.state == 10 %}
                        Autre
                    {% else %}
                    -    
                    {% endif %}
                    
                </td>
                <td>
                    {% if one.type == 1 %}
                        Remorque
                    {% elseif one.type == 2 %}
                        Semi
                    {% elseif one.type == 3 %}
                        Elevateur
                    {% elseif one.type == 4 %}
                        Plateau
                    {% else %}
                    -    
                    {% endif %}
                    
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
