{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des attelages
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Numéro attelage</th>
            <th>Immatriculation</th>
            <th>Marque</th>
            <th>Modèle</th>
       </tr>

       {% for one in couplings %}
            <tr>
                <td>{{one.couplingNumber}}</td>
                <td>
                    {% if one.Semi is not null %}
                        {{one.Semi.registrationNumber}}
                    {% else %}
                        Non assigné
                    {% endif %}
                    {% if one.Trailer is not null %}
                        {{one.Trailer.registrationNumber}}
                    {% else %}
                        Non assigné
                    {% endif %}
                </td>
                <td>
                    {% if one.Semi is not null and one.Semi.vehicleBrand is not null%}
                        {{one.Semi.vehicleBrand.name}}
                    {% else %}
                        Non assigné
                    {% endif %}
                    /
                    {% if one.Trailer is not null and one.Trailer.vehicleBrand is not null %}
                        {{one.Trailer.vehicleBrand.name}}
                    {% else %}
                        Non assigné
                    {% endif %}
                </td>
                <td>
                    {% if one.Semi is not null and one.Semi.vehicleModel is not null %}
                        {{one.Semi.vehicleModel.name}}
                    {% else %}
                        Non assigné
                    {% endif %}
                    /
                    {% if one.Trailer is not null and one.Trailer.vehicleModel is not null %}
                        {{one.Trailer.vehicleModel.name}}
                    {% else %}
                        Non assigné
                    {% endif %}
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
