{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des postes RH
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Intitulé du poste</th>
            <th>Code du poste</th>
       </tr>

       {% for one in posts %}
            <tr>
                <td>{{ one.name }}</td>
                <td>{{ one.code }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
