{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des qualités
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Libellé</th>
       </tr>

       {% for one in qualities %}
            <tr>
                <td>{{ one.label }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
