{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des get-ins
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Terminal</th>
            <th>Containers</th>
            <th>BDR</th>
            <th>Compagnie maritime</th>
            <th>Get in</th>
            <th>Etat</th>
            <th>Aptitude</th>
       </tr>

       {% for one in containers %}
            <tr>
                <td>{{ one.terminalGetin ? one.terminalGetin.terminal.name : "" }}</td>
                <td>{{ one.containerNumber }}</td>
                <td>{{ one.terminalGetin ? one.terminalGetin.BDRNumber : "" }}</td>
                <td>{{ one.terminalGetin ? (one.terminalGetin.shippingCompany ? one.terminalGetin.shippingCompany.name : "") : "" }}</td>
                <td>{{ one.terminalGetin ? one.terminalGetin.createdAt | date("d-M-Y") : "" }}</td>
                <td>{{ one.containerStatus }}</td>
                <td>{{ one.containerStatusAble ? "Apte" : "Inapte" }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
