{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des marques de véhicules
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Marque</th>
       </tr>

       {% for one in brands %}
            <tr>
                <td>{{ one.name }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
