{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste de types de conteneurs
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Dimension/Type</th>
            <th>Designation type</th>
            <th>Compagnie maritime</th>
       </tr>

       {% for one in contTypes %}
            <tr>
                <td>{{ one.unite }}</td>
                <td>{{ one.label }}</td>
                <td>{{ one.shippingCompany.name }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
