{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des lieux
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>ID</th>
            <th>Intitulé Lieu</th>
            <th>Fonctions de lieu</th>
       </tr>

       {% for one in places %}
            <tr>
                <td>{{ one.id }}</td>
                <td>{{ one.name }}</td>
                <td>
                    {% for funct in one.placeFunctions %}
                        {{ funct.name }},
                    {% endfor %}
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
