{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des ordres de transports
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Num OT</th>
            <th>Client</th>
            <th>Trajet</th>
            <th>Statut</th>
            <th>Date de chargement</th>
            <th>Date d'arrivée effective</th>
       </tr>

       {% for one in orderTransports %}
            <tr>
                <td>{{ one.code }}</td>
                <td>
                    {% if one.customer is defined and one.customer is not null %}
                        {{ one.customer.customerIdentification.customerTitle }}
                    {% endif %}
                </td>
                <td>
                    {% if one.missionOrder.loadingPlace is defined and one.missionOrder.loadingPlace is not null %}
                        {{ one.missionOrder.loadingPlace.name }}
                    {% endif %}
                    &nbsp;/&nbsp;
                    {% if one.missionOrder.deliveryLocation is defined and one.missionOrder.deliveryLocation is not null %}
                        {{ one.missionOrder.deliveryLocation.name }}
                    {% endif %}
                </td>
                <td>
                    {% if one.otStatus == "created" %}
                        Créé
                    {% elseif one.otStatus == "assigned"  %}
                        Assigné
                    {% elseif one.otStatus == "delivered"  %}
                        Livré
                    {% else %}

                    {% endif %}
                </td>
                <td>
                    {% if one.missionOrder.loadingDate is defined and one.missionOrder.loadingDate is not null and one.missionOrder.loadingDate is not empty %}
                        {{ one.missionOrder.loadingDate | date("d/m/Y") }}
                    {% endif %}
                </td>
                <td>
                    {% if one.actualArrivalDate is defined and one.actualArrivalDate is not null and one.actualArrivalDate is not empty %}
                        {{ one.actualArrivalDate | date("d/m/Y") }}
                    {% endif %}
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
