{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste de reservations
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Numéro booking</th>
            <th>Client final</th>
            <th>Compagnie maritime</th>
            <th>Num container</th>
            <th>Etat d'annulation</th>
            <th>Date de Get out au plus tard</th>
       </tr>

       {% for one in bookings %}
            <tr>
                <td>{{one.refBooking}}</td>
                <td>
                    {% if one.client is defined %}
                        {{one.client.customerIdentification.customerTitle}}
                    {% endif %}
                    &nbsp;
                </td>
                <td>
                    {{ one.shippingCompany ? one.shippingCompany.name : "" }}
                </td>
                <td>
                    {% for contn in one.containers %}
                        {{contn.containerNumber}},
                    {% endfor %}
                </td>
                <td>
                    {{one.isCancelled ? "Annulé" : "-"}}
                </td>
                <td>
                    {{one.containers | length > 0 ? one.containers|first.dateToGetOut | date("d-M-Y")}}
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
