{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des clients
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Référence client</th>
            <th>Intitulé client</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Banque</th>
       </tr>

       {% for one in customers %}
            <tr>
                <td>{{ one.refCustomer }}</td>
                <td>{{ one.customerIdentification.customerTitle }}</td>
                <td>{{ one.customerIdentification.phone }}</td>
                <td>{{ one.customerIdentification.email }}</td>
                <td>{{ one.customerIdentification.address }}</td>
                <td>{{ one.customerBank.bank }}</td>
            </tr>
       {% endfor %}

    </table>
</div>
