{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des get-outs
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Conteneurs</th>
            <th>Transporteur</th>
            <th>Num camion</th>
            <th>Client</th>
            <th>Num permis chauffeur</th>
       </tr>

       {% for one in getouts %}
            <tr>
                <td>
                    {% if one.containers | length > 0 %}
                        {% for contn in one.containers %}
                            {{contn.containerNumber}},
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                   {{one.carrier.name}}
                </td>
                <td>
                    {{one.truckNumber}}
                </td>
                <td>
                    {{ one.customer.customerIdentification.customerTitle }}
                </td>
                <td>
                    {{ one.driverLicenseNumber }}
                </td>
            </tr>
       {% endfor %}

    </table>
</div>
