{{ include("pdf/parts/pdf_head.html.twig") }}


<div>
    <h3>
        Liste des ordres de locations
    </h3>
</div>

<br>

<div>
    <table width="100%" style="line-height: 1;">
       <tr class="en-tete">
            <th>Numero OL</th>
            <th>Client</th>
            <th>Vehicule</th>
            <th>Chauffeur</th>
            <th>Site</th>
       </tr>

       {% for one in rentals %}
            <tr>
                <td></td>
            </tr>
       {% endfor %}

    </table>
</div>
