{{ include("pdf/parts/pdf_head.html.twig") }}

<style>
    tr:nth-child(even){
        background-color: transparent;
    }
    table{
        text-align: left;
    }
    th{
        
    }
    td{
        text-align: left;
    }
</style>

<div>
    <table width="100%" style="line-height: 1;">
        <tr>
            <td style="line-height: 1.6; vertical-align:top;">
                <h3 style="margin-top:0;vertical-align:top;">
                Proces-verbal de prise en charge<br>
                Equipement intercharge receipt
                </h3>
            </td>

            <td style="vertical-align: top; text-align:right">
                <p style="margin-top:0;"><strong>Création de l'EIR : {{eir.createdAt | date("d/m/Y")}}</strong></p>
                <p><strong>Numéro : </strong>{{eir.refEir}}</p>
                {% if eir.creatorUser is defined and eir.creatorUser is not null %}
                    <p><strong>Créé par : </strong>{{eir.creatorUser.name}}</p>
                {% endif %}
            </td>

            {# <td>
                {% if eir.container is defined and eir.container is not null %}
                    <p><strong>Conteneur : </strong>{{eir.container.containerNumber}}</p>
                    <p><strong>Type : </strong>{{eir.container.containerType.label}}</p>
                {% endif %}
                <p><strong>Contenance : </strong>{{eir.isFull ? 'plein' : 'vide'}}</p>
                <p><strong>Numéro de scellé : </strong>{{eir.isFull ? eir.sealNumber : '-'}}</p>
            </td> #}
        </tr>

        <tr>
            <td colspan="2">
                <p><strong>Description des avaries : </strong></p>
                    {% if eir.damages is defined and eir.damages is not null and eir.damages !='[{}]' and eir.damages | custom_json_decode is not empty %}
                        <p>
                            <ul>
                                {% for damage in eir.damages |custom_json_decode %}
                                    {% if damage is not empty %}
                                        <li>{{ damage.DamagePosition.label }} : {{ damage.damageType.label }} 
                                            {% if damage.remarks is defined and damage.remarks is not null %}
                                                : {{ damage.remarks ? damage.remarks : "" }}
                                            {% endif %}
                                        </li>        
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </p>
                    {% else %}
                        <p>Aucune description des avaries informée</p>
                    {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <br>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div style="border:1px solid #333; padding: 0 10pt;">
                    <p style="position:relative;top:-18pt; background:#fff;display:inline-block;padding:0 5pt;margin-bottom:-20pt;"><strong>Infos sur le conteneur</strong></p>
                    {% if eir.container is defined and eir.container is not null %}
                        <p><strong>Conteneur : </strong>{{eir.container.containerNumber}}</p>
                        <p><strong>Type : </strong>{{eir.container.containerType.label}}</p>
                    {% endif %}
                    <p><strong>Contenance : </strong>{{eir.isFull ? 'plein' : 'vide'}}</p>
                    <p><strong>Numéro de scellé : </strong>{{eir.isFull ? eir.sealNumber : '-'}}</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <br>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                    {% if eir.container is defined and eir.container is not null %}
                        <div style="border:1px solid #333; padding: 0 10pt;">
                            <p style="position:relative;top:-18pt; background:#fff;display:inline-block;padding:0 5pt;margin-bottom:-20pt;"><strong>Infos sur le getin</strong></p>
                            <p><strong>Numéro getin : </strong>{{eir.container.terminalGetin.refGetin}}</p>
                            <p><strong>Compagnie maritime : </strong>{{eir.container.terminalGetin.shippingCompany.name}}</p>
                            <p><strong>Numéro BDR : </strong>{{eir.container.terminalGetin.BDRnumber}}</p>
                            <p><strong>Transporteur : </strong>{{eir.container.terminalGetin.carrier.name}}</p>
                            <p><strong>Numéro camion du transporteur : </strong>{{eir.container.terminalGetin.carrierTruckNumber}}</p>
                        </div>
                    {% endif %}
            </td>
        </tr>

    </table>
</div>
