{{ include("pdf/parts/pdf_head.html.twig") }}
 
<style>
    *{
        font-size: 10pt;
    }
    table{
        margin-bottom: 15px;
    }
    h1{
        font-size: 14pt;
    }
    h2{
        font-size: 13pt;
    }

    table{
        text-align: left;
    }
    th{
        
    }
    td{
        text-align: left;
    }
    td{
        padding: 0px 0;
    }
</style>

<div>
    <h1>
        ORDRE DE MISSION
    </h1>
</div>

<div>
    <table width="100%" style="line-height: 1;">
        <tr>
            <td>
                <p><strong>Camion : </strong>
                    {% if missionOrder.transportOrder.affectedTruck is defined 
                        and missionOrder.transportOrder.affectedTruck is not null
                        and missionOrder.transportOrder.affectedTruck.registrationNumber is defined
                    %}
                        {{ missionOrder.transportOrder.affectedTruck.registrationNumber }}
                    {% endif %}
                     {% if missionOrder.transportOrder.subContractor is defined
                        and missionOrder.transportOrder.subContractor is not null
                    %}
                        {{ missionOrder.transportOrder.subContractorVehicleNumber }}
                    {% endif %}
                </p>
                <p><strong>N°OT : </strong>{{ missionOrder.transportOrder.code }}</p>
            </td>

            <td>
                <p><strong>Chauffeur : </strong>
                    {% if missionOrder.transportOrder.affectedTruck is defined 
                        and missionOrder.transportOrder.affectedTruck is not null
                        and missionOrder.transportOrder.affectedTruck.driver is not null
                    %}
                        {{ missionOrder.transportOrder.affectedTruck.driver.lastName ~ " " ~  missionOrder.transportOrder.affectedTruck.driver.firstName }}
                    {% endif %}

                    {% if missionOrder.transportOrder.subContractor is defined
                        and missionOrder.transportOrder.subContractor is not null
                    %}
                        {{ missionOrder.transportOrder.subContractor.companyName }}
                    {% endif %}
                </p>
            </td>
        </tr>

    </table>

    <table width="100%" style="line-height: 1; border: 0px solid #000000; padding: 0 0px;">
        <tr>
            <td>
                <p><strong>N° TC : </strong>
                    {% if missionOrder.transportOrder.aboutContainers is defined and missionOrder.transportOrder.aboutContainers is not null %}
                        {% set aboutContainers = missionOrder.transportOrder.aboutContainers | custom_json_decode %}
                        {% for about in aboutContainers %}
                            {{ about.containerNumber }},&nbsp;
                        {% endfor %}
                    {% endif %}
                </p>
            </td>
        </tr>
    </table>

    <table width="100%" style="line-height: 1; border: 1px solid #000000; padding: 0 15px;">
        <tr>
            <td>
                <h3 style="text-align:center;">
                    Enlèvement du conteneur vide
                </h3>
                <div>
                    <p><strong>Lieu d’enlèvement : </strong>
                        {% if missionOrder.emptyTCrecoveryLocation is defined and missionOrder.emptyTCrecoveryLocation is not null %}
                            {{ missionOrder.emptyTCrecoveryLocation.name }}
                        {% endif %}
                    </p>
                    <p><strong>Date prévue d’enlèvement : </strong>
                        {% if missionOrder.emptyTCrecoveryDate is defined and missionOrder.emptyTCrecoveryDate is not null and  missionOrder.emptyTCrecoveryDate is not empty %}
                            {{ missionOrder.emptyTCrecoveryDate | date("d/m/Y") }}
                        {% endif %}
                    </p>
                    <br>
                </div>
            </td>
        </tr>
    </table>
    
    <table width="100%" style="line-height: 1; border: 1px solid #000000; padding: 0 15px;">
        <tr>
            <td>
                <h3 style="text-align:center;">
                    Chargement marchandises
                </h3>
                <div>
                    <p><strong>Lieu de chargement : </strong>
                        {% if missionOrder.loadingPlace is defined and missionOrder.loadingPlace is not null %}
                            {{ missionOrder.loadingPlace.name }}
                        {% endif %}
                    </p>
                    <p><strong>Date de chargement : </strong>
                        {% if missionOrder.loadingDate is defined and missionOrder.loadingDate is not null and missionOrder.loadingDate is not empty %}
                            {{ missionOrder.loadingDate | date("d/m/Y") }}
                        {% endif %}
                    </p>
                    <br>
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" style="line-height: 1; border: 1px solid #000000; padding: 0 15px;">
        <tr>
            <td>
                <h3 style="text-align:center;">
                    Déchargement marchandises
                </h3>
                <div>
                    <p><strong>Lieu de déchargement: </strong>
                        {% if missionOrder.deliveryLocation is defined and missionOrder.deliveryLocation is not null %}
                            {{ missionOrder.deliveryLocation.name }}
                        {% endif %}
                    </p>
                    <p><strong>Date de déchargement prévue : </strong>
                        {% if missionOrder.deliveryDate is defined and missionOrder.deliveryDate is not null and missionOrder.deliveryDate is not empty %}
                            {{ missionOrder.deliveryDate | date("d/m/Y") }}
                        {% endif %}
                    </p>
                    <br>
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" style="line-height: 1; border: 1px solid #000000; padding: 0 15px;">
        <tr>
            <td>
                <h3 style="text-align:center;">
                    Restitution du conteneur vide
                </h3>
                <div>
                    {# <p><strong>N° TC : </strong>
                        {% if missionOrder.transportOrder.aboutContainers is defined and missionOrder.transportOrder.aboutContainers is not null %}
                            {% set aboutContainers = missionOrder.transportOrder.aboutContainers | custom_json_decode %}
                            {% for about in aboutContainers %}
                                {{ about.containerNumber }},&nbsp;
                            {% endfor %}
                        {% endif %}
                    </p> #}
                    <p><strong>Lieu d’enlèvement : </strong>
                        {% if missionOrder.emptyTCrestitutionPlace is defined and missionOrder.emptyTCrestitutionPlace is not null %}
                            {{ missionOrder.emptyTCrestitutionPlace.name }}
                        {% endif %}
                    </p>
                    <p><strong>Date prévue d’enlèvement : </strong>
                        {% if missionOrder.emptyTCrestitutionDate is defined and missionOrder.emptyTCrestitutionDate is not null and missionOrder.emptyTCrestitutionDate is not empty %}
                            {{ missionOrder.emptyTCrestitutionDate | date("d/m/Y") }}
                        {% endif %}
                    </p>
                    <br>
                </div>
            </td>
        </tr>
    </table>
    
    <table width="100%" style="line-height: 1; border: 1px solid #000000; padding: 0 15px; margin-top:1pt;">
        <tr>
            <td>
                <h3 style="text-align:center;">
                    Instructions particulières
                </h3>
                <div>
                    <br><br><br><br><br>
                </div>
            </td>
        </tr>
    </table>

</div>
